{% extends 'homeheader.html'%}
{% block content %}

<section class="w3l-index5" id="about">
	<div class="new-block py-5">
	  <div class="container py-lg-3">
		<div class="header-section ">
				<center><h2>About Us</h2></center>
				<!-- <h3 class="mb-md-5 mb-4"> -->
				<p class="new-block py-5">We are final year student  of computer engineering branch , Our aim to provides scope to government education  to lower their dropout rate .Predicting the student dropout rate based on the academic and school infrastructure data ,quality of education using different approaches of ML supervised algorithm and suggest responsible feature.</p>
				<ul class="list-group">
					    <li class="list-group-item active">OUR MISSION</li>
						<li class="list-group-item">For defining the dropout rate problem , some ground work we had done by physically visiting the school and found some responsible feature.</li>
						<li class="list-group-item">We had focused the work on Maharashtra state as some ground work data we had found. It needed the meaningfull and real time data collection (UDISE).</li>
						<li class="list-group-item">Early rate predictive system for input feature rate</li>
						<li class="list-group-item">Create accurate ML model and Web application (using flask)</li>
						<li class="list-group-item">Schemes for Students Belonging to Scheduled Castes, Scheduled Tribes, Nomadic Tribes and Vimukta Jatis</li>
						<li class="list-group-item">Suggest responsible feature </li>
						<li class="list-group-item">Attendance Allowance for the Girl students</li>
						<li class="list-group-item">Shaleya Poshan Aahar Yojana (National Programme of Nutritional Support)</li>
						<li class="list-group-item">Scholarships</li>
				</ul>
				<!-- </h3> -->

			</div>
		</div>
	</div>
</section>

			

{% endblock %}